/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Karla', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header {
  background-color: #fff;
  padding: 2rem 1.5rem;
}

h2 {
  font-weight: 700;
  font-size: 2rem;
  color: hsl(179, 62%, 43%);
  margin-bottom: 1rem;
}

p#guarantee {
  color: hsl(71, 73%, 54%);
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

p#info {
  color: hsl(218, 22%, 67%);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}

footer {
  text-align: center;
  padding: 2rem 1.5rem;
  font-size: 0.875rem;
  color: hsl(220, 14%, 75%);
}

.flex-container {
  display: flex;
  flex-flow: column wrap;
}

.flex-items {
  color: #fff;
  padding: 2rem 1.5rem;
}

h3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.subscription {
  background-color: hsl(179, 62%, 43%);
}

p#price {
  margin-bottom: 1rem;
}

span#price {
  font-size: 2.5rem;
  font-weight: 700;
}

span#opaque {
  opacity: 0.75;
  font-weight: 400;
  margin-left: 0.5rem;
}

button {
  background-color: hsl(71, 73%, 54%);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  margin-top: 1.5rem;
  width: 100%;
}

button:hover {
  background-color: hsl(71, 73%, 64%);
}

.why-us {
  background-color: hsl(179, 62%, 53%);
}

ul {
  list-style: none;
}

ul li {
  line-height: 1.5;
  opacity: 0.75;
}

/* Media Query For Desktop */
@media (min-width: 768px) {
  .flex-container {
    flex-flow: row nowrap;
    padding: 0 1.5rem;
  }

  .flex-items {
    flex: 50%;
  }

  button {
    width: auto;
    min-width: 200px;
  }
}
