* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Hanken Grotesk', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.flex-container {
  display: flex;
  flex-flow: column nowrap;
}

section.result {
  background-color: hsl(241, 81%, 54%);
  color: hsl(0, 0%, 100%);
  border-radius: 0 0 15% 15%;
  -webkit-border-radius: 0 0 15% 15%;
  -moz-border-radius: 0 0 15% 15%;
  -ms-border-radius: 0 0 15% 15%;
  -o-border-radius: 0 0 15% 15%;
  padding: 1.5rem;
  text-align: center;
  box-shadow: 0 2px 18px hsl(241, 81%, 54%);
}

p.big-text {
  font-size: 1.25em;
  font-weight: 500;
}

p.big-text,
p.opaque {
  margin-bottom: 1rem;
}

.opaque,
.opaque-number {
  opacity: 0.7;
}

div.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    hsl(234, 85%, 45%),
    hsla(241, 72%, 46%, 0)
  );
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-bottom: 1rem;
}

p.big-number {
  font-size: 4.5em;
  font-weight: 700;
}

section.summary {
  padding: 1.5rem 2rem;
}
