/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide Thank you Container  */
.thank-you-container {
  display: none;
}

/* Global Styles */
body {
  font-family: 'Overpass', sans-serif;
  font-style: normal;
  background-color: hsl(216, 12%, 8%);
  color: hsl(0, 100%, 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: hsl(213, 19%, 18%);
  padding: 20px;
  max-width: 400px;
  border-radius: 20px;
}

/* Styles for Rating Container start here */

img#star-icon {
  background-color: hsl(213, 19%, 22%);
  padding: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

h2 {
  padding: 20px 0;
}

p.feedback,
.rating {
  color: hsl(217, 12%, 63%);
}

p.feedback {
  line-height: 1.5;
}

.ratings {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}

.rating {
  background-color: hsl(213, 19%, 22%);
  padding: 10px 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  font-weight: 900;
  cursor: pointer;
}

.rating:hover {
  background-color: hsl(0, 100%, 100%);
  color: hsl(216, 12%, 10%);
}
.active,
.active:hover {
  background-color: hsl(25, 97%, 53%);
  color: hsl(216, 12%, 10%);
}

button {
  background-color: hsl(25, 97%, 53%);
  color: hsl(216, 12%, 10%);
  border: none;
  width: 100%;
  padding: 1rem 2.5rem;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.5px;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  cursor: pointer;
}

button:hover {
  background-color: hsl(0, 100%, 100%);
}

/* Styles for Thank you Container start here */

.thank-you-container {
  text-align: center;
  padding: 30px 20px;
}

#thank-you-illustration {
  margin-bottom: 15px;
}

p#selection {
  background-color: hsl(213, 19%, 22%);
  color: hsl(25, 97%, 53%);
  font-weight: 500;
  padding: 10px 20px;
  width: fit-content;
  margin: 0 auto;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
}

p.thank-you {
  font-weight: 500;
}
